<div class="node-list-item panel panel-default"
     ng-class="{'panel-success': (node.state == 'running'), 'panel-danger': (node.state == 'stopped')}">
    <div class="panel-heading">
        <span>{{nodeId}}</span>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="startNode()">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="stopNode()">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#node-{{nodeId}}"
                    aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div id="node-{{nodeId}}" class="collapse panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{node.id}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{node.state}}</p>
            </div>
        </div>
        <logTerminal class="well log-terminal"></logTerminal>
    </div>
</div>